@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*value 0>It will look exactly the way it looks right now..*/ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  80% {
    transform: translateY(-5px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: white;
  padding: 0rem; }

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  margin-top: 5rem;
  /* text-shadow: 1px 1px 1px #816666; */ }

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 6rem; }

.heading-primary--main {
  display: block;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  line-height: 1.2; }

.heading-primary--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 300;
  animation: moveInRight 1s ease-out;
  margin-top: 3.3rem;
  line-height: 3.4rem; }

.text__block {
  font-size: 10rem;
  margin-left: 10rem;
  flex: 1; }

.heading-tertiary {
  display: block;
  width: 1.5%;
  height: 25rem;
  font-size: inherit;
  line-height: 1.2;
  text-transform: uppercase;
  background-image: linear-gradient(to right, rgba(116, 192, 252, 0.3), rgba(24, 100, 171, 0.9));
  text-align: center;
  margin-right: 10rem;
  justify-content: center;
  transition: all 1s cubic-bezier(0.93, -0.58, 0.07, 1.66); }
  .heading-tertiary:hover {
    width: 80%;
    border-radius: 1rem; }

.testimonial-title {
  text-align: center;
  padding-top: 8rem;
  font-size: 4.8rem; }

.title--animated {
  transition: all 0.3s;
  background: linear-gradient(to right, #000 50%, #74c0fc 50%, #087f5b);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }
  .title--animated:hover {
    background-position: -100%; }

.u-center-text {
  text-align: center; }

.u-mb-lg {
  margin-bottom: 8rem; }

.u-mb-md {
  margin-bottom: 4rem; }

.u-mb-sm {
  margin-bottom: 1.5rem; }

.u-mt-lg {
  margin-top: 8rem; }

.u-mt-huge {
  margin-top: 10rem; }

.u-btn-scale {
  transform: scale(1.5); }

.u-btn-center {
  top: 50%;
  left: 45%;
  transform: scale(1.5); }

.btn--svg {
  color: #000;
  cursor: pointer;
  font-size: 2rem;
  line-height: 5.3rem;
  position: relative;
  text-decoration: none;
  width: 11.8rem;
  text-align: center;
  background: #339af0;
  font-weight: 500;
  transition: all 0.3s; }

.btn--svg svg {
  height: 5.4rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 11.8rem; }

.btn--svg rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear; }

.btn--svg:hover {
  background: #1864ab;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #fff;
  text-decoration: none; }

.btn--svg:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); }

/*learn more button*/
div.button-container {
  position: relative;
  top: -3.4rem;
  margin-top: 3rem; }

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit; }

button.learn-more {
  width: 14rem;
  height: auto; }

.btn--animated {
  animation: moveUp 0.5s ease-in;
  animation-delay: 0.5s;
  animation-fill-mode: backwards; }

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #1864ab;
  border-radius: 1.625rem;
  box-shadow: 0 0 0.3rem 0.1rem rgba(24, 100, 171, 0.4); }

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff; }

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none; }

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg); }

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 0.85rem;
  color: #fefeff;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase; }

button:hover .circle {
  width: 100%; }

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0); }

button:hover .button-text {
  color: #fff; }

.quoteMark {
  font-size: 3.3rem;
  font-family: sans-serif;
  font-weight: 600;
  padding: 0 0.4rem; }

a.btn--read-more {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 1rem;
  position: relative;
  transition: 0.3s all;
  text-decoration: none;
  border-radius: 0.3rem;
  font-size: 1.8rem;
  /* font-weight: 900; */ }

a.btn--read-more:hover {
  letter-spacing: 0.5px; }

a.btn--read-more::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #dee9e966;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transition: 0.3s all; }

a.btn--read-more:hover::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f4f5f51c;
  top: 0;
  left: 0;
  transform: scaleX(1); }

.slide-row {
  display: flex;
  width: 240rem;
  transition: all 0.5s; }

.slide-col {
  width: 80rem;
  height: 40rem;
  position: relative; }

.user-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%; }
  .user-img img {
    height: 100%;
    border-radius: 1rem;
    aspect-ratio: 7 / 9; }

.user-text {
  background: #000;
  width: 52rem;
  height: 27rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 1rem;
  color: #d3d4d6;
  padding: 4.5rem;
  z-index: 2; }
  .user-text p {
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 500; }
  .user-text h3 {
    margin: 3.5rem 0 0.5rem;
    color: #fff;
    font-weight: 900; }

.container {
  width: 80rem;
  height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5rem; }

.indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5rem; }
  .indicator__btn {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.4rem;
    border-radius: 1.5rem;
    background: #fff;
    cursor: pointer;
    transition: all 0.5s; }
    .indicator__btn.active {
      width: 4.5rem; }

.testimonial {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.focus__container {
  display: grid;
  grid-auto-flow: column;
  flex: 5;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center; }

.focus__shape {
  position: relative;
  width: 70%;
  height: 90%; }

.focus__img {
  width: 100%;
  height: 100%;
  transition: all 0.3s; }
  .focus__img__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    z-index: 10;
    transform: translate(-50%, 20%);
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }

.focus__shape:hover .focus__img__caption {
  opacity: 1;
  transform: translate(-50%, -50%); }

.focus__shape:hover .focus__img {
  transform: scale(1.2);
  filter: blur(3px) brightness(80%); }

.flex__container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center; }

.featured-articles {
  margin: auto;
  max-width: 114rem;
  color: black; }

#articlesHeader {
  margin: 15rem 0 2.4rem 0;
  font-size: 6.4rem;
  text-align: center;
  line-height: 1.2;
  font-weight: 900; }

.articles {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  margin-right: -1.5rem;
  margin-left: -1.5rem; }

.articles-text {
  flex: 0 0 62.66667%;
  max-width: 66.66667%;
  padding-top: 2rem; }

h1#articles-topic {
  font-size: 4.8rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  line-height: 1.2; }

p.articles-main-text {
  margin: 1.5rem 0;
  font-size: 1.8rem;
  font-weight: 500; }

img.img {
  width: 36.5rem; }

.articlesimg {
  margin-left: 5rem; }

.header {
  z-index: 1000; }
  .header .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202225;
    height: 10rem;
    font-size: 1.6rem; }
    .header .nav__logo__img {
      width: 13.2rem;
      height: 6.4rem;
      border-radius: 0.1rem;
      box-shadow: none;
      transition: all 0.4s;
      border: none; }
    .header .nav__menu__items {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-gap: 1rem;
      list-style: none;
      text-align: center;
      width: 70vw;
      justify-content: end;
      margin-right: 2rem; }
    .header .nav__menu__item {
      display: block;
      color: white;
      background-color: #36393f;
      padding: 1rem 2rem;
      font-weight: 500;
      border-radius: 0.6rem;
      box-shadow: 0rem 0.1rem 0.8rem 0.2rem rgba(116, 192, 252, 0.2);
      transition: all 0.4s;
      box-sizing: border-box;
      position: relative;
      text-decoration: none; }
      .header .nav__menu__item:hover {
        color: #fff;
        background-color: #339af0;
        border-radius: 1.2rem; }
  .header__container {
    align-items: center;
    display: flex; }

ul.dropdown__menu {
  position: absolute;
  display: block;
  background: #fff;
  /* box-sizing: border-box; */
  width: 20.9rem;
  top: 13.2rem;
  transition: all 0.3s;
  opacity: 0;
  z-index: 1000;
  box-shadow: 0.1rem 0.1rem 0.2rem -0.1rem #e6ede8;
  border-top: 0.5rem rgba(95, 61, 196, 0.9) solid; }

ul.dropdown__menu li {
  box-sizing: border-box;
  text-align: left;
  background-color: #000;
  transition: all 0.3s; }

.dropdown:hover ul.dropdown__menu {
  transform: scaleY(1);
  top: 9.2rem;
  opacity: 1;
  color: #000; }

ul.dropdown__menu li a {
  display: block;
  padding: 2rem 0 2rem 2rem;
  color: #fff; }

ul.dropdown__menu li:hover {
  background-color: rgba(116, 192, 252, 0.4);
  color: #000; }

.dropdown__link {
  text-decoration: none; }
  .dropdown__link:hover {
    color: #000; }

.dropdown ul li {
  list-style: none; }

.section-hero {
  position: relative;
  height: 100vh !important;
  position: relative;
  display: block;
  background-image: url(../img/clrBanner.png);
  background-blend-mode: white;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top; }

.section-focus {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  color: #000; }

.section-featured {
  padding: 20rem 0;
  margin-top: -30vh; }

.section-testimonials {
  background-image: linear-gradient(to right bottom, #087f5b, #1864ab);
  height: 100vh;
  width: 100%;
  position: relative;
  color: #000; }
