.header {
  height: 100vh !important;

  position: relative;
  display: block;
  background-image: url(../img/clrBanner.png);
  background-blend-mode: darken(white, 0.1);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  position: relative;

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 34, 37, 1);
    height: 10rem;
    font-size: 1.6rem;

    &__logo {
      &__img {
        width: 13.2rem;
        height: 6.4rem;
        border-radius: 0.1rem;
        box-shadow: none;
        transition: all 0.4s;
        border: none;
      }
    }

    &__menu {
      &__items {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 1rem;
        list-style: none;
        text-align: center;
        width: 70vw;
        justify-content: end;
        margin-right: 2rem;
      }

      &__item {
        display: block;
        color: rgb(255, 255, 255);
        background-color: rgb(54, 57, 63);
        padding: 1rem 2rem;

        font-weight: 500;
        border-radius: 0.6rem;
        box-shadow: 0rem 0.1rem 0.8rem 0.2rem rgba(41, 124, 68, 0.4);
        transition: all 0.4s;
        box-sizing: border-box;
        position: relative;

        text-decoration: none;

        &:hover {
          color: #fff;
          background-color: rgb(59, 165, 93);
          border-radius: 1.2rem;
        }
      }
    }
  }

  &__container {
    align-items: center;
    display: flex;
  }
}

ul.dropdown__menu {
  position: absolute;
  display: block;
  background: rgb(54, 57, 63);
  /* box-sizing: border-box; */
  width: 20.9rem;
  top: 13.2rem;
  // transform-origin: bottom;
  transition: all 0.3s;
  opacity: 0;
  z-index: 1000;
  box-shadow: 0.1rem 0.1rem 0.2rem -0.1rem #e6ede8;
  border-top: 0.5rem rgba(41, 124, 68, 0.4) solid;
}
ul.dropdown__menu li {
  box-sizing: border-box;

  text-align: left;

  background-color: rgb(54, 57, 63);
}

.dropdown:hover ul.dropdown__menu {
  transform: scaleY(1);
  top: 9.2rem;
  opacity: 1;
}

ul.dropdown__menu li a {
  display: block;
  padding: 2rem 0 2rem 2rem;
  color: aquamarine;
}
ul.dropdown__menu li:hover {
  background-color: rgba(228, 240, 233, 0.4);
}

.dropdown__link {
  text-decoration: none;
}

.dropdown {
  ul {
    li {
      list-style: none;
    }
  }
}
