.header {
  z-index: 1000;
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 34, 37, 1);
    height: 10rem;
    font-size: 1.6rem;

    &__logo {
      &__img {
        width: 13.2rem;
        height: 6.4rem;
        border-radius: 0.1rem;
        box-shadow: none;
        transition: all 0.4s;
        border: none;
      }
    }

    &__menu {
      &__items {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 1rem;
        list-style: none;
        text-align: center;
        width: 70vw;
        justify-content: end;
        margin-right: 2rem;
      }

      &__item {
        display: block;
        color: rgb(255, 255, 255);
        background-color: rgb(54, 57, 63);
        padding: 1rem 2rem;

        font-weight: 500;
        border-radius: 0.6rem;
        box-shadow: 0rem 0.1rem 0.8rem 0.2rem
          rgba($color-primary-light, 0.2);
        transition: all 0.4s;
        box-sizing: border-box;
        position: relative;

        text-decoration: none;

        &:hover {
          color: #fff;
          background-color: rgba($color-primary, 1);
          border-radius: 1.2rem;
        }
      }
    }
  }

  &__container {
    align-items: center;
    display: flex;
  }
}

ul.dropdown__menu {
  position: absolute;
  display: block;
  background: #fff;
  /* box-sizing: border-box; */
  width: 20.9rem;
  top: 13.2rem;
  // transform-origin: bottom;
  transition: all 0.3s;
  opacity: 0;
  z-index: 1000;
  box-shadow: 0.1rem 0.1rem 0.2rem -0.1rem #e6ede8;
  border-top: 0.5rem rgba(#5f3dc4, 0.9) solid;
}
ul.dropdown__menu li {
  box-sizing: border-box;

  text-align: left;

  background-color: #000;
  transition: all 0.3s;
}

.dropdown:hover ul.dropdown__menu {
  transform: scaleY(1);
  top: 9.2rem;
  opacity: 1;
  color: #000;
}

ul.dropdown__menu li a {
  display: block;
  padding: 2rem 0 2rem 2rem;
  color: #fff;
}
ul.dropdown__menu li:hover {
  background-color: rgba(rgba($color-primary-light, 0.2), 0.4);
  color: #000;
}

.dropdown__link {
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.dropdown {
  ul {
    li {
      list-style: none;
    }
  }
}
