.btn--svg {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 53px;

  position: relative;
  text-decoration: none;
  width: 118px;
  text-align: center;
  background: #3ba55d;
  font-weight: 500;
  transition: all 0.3s;
}

.btn--svg svg {
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 118px;
}

.btn--svg rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}

.btn--svg:hover {
  background: #3ba55d;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
}
.btn--svg:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

/*learn more button*/
div#button-container {
  position: relative;
  top: -34px;
  transform: scale(1.5);
  margin-top: 3rem;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 14rem;
  height: auto;
  animation: moveUp 0.5s ease-in;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #3ba55d;
  border-radius: 1.625rem;
  box-shadow: 0px 0px 3px 1px white;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 0.85rem;
  color: #fefeff;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

.quoteMark {
  font-size: 3.3rem;
  font-family: sans-serif;
  font-weight: 600;
  padding: 0 0.4rem;
}
