body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: white;
  padding: 0rem;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 5rem;
  /* text-shadow: 1px 1px 1px #816666; */
}

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;

  font-size: 6rem;
  font-weight: 700;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  line-height: 1.2;
}

.heading-primary--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 300;
  animation: moveInRight 1s ease-out;
  margin-top: 3.3rem;
  line-height: 3.4rem;
}

.text__block {
  font-size: 10rem;
  margin-left: 10rem;
  flex: 1;
}

.heading-tertiary {
  display: block;
  width: 1.5%;
  font-size: inherit;
  line-height: 1.2;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    rgba($color-primary-light, 0.3),
    rgba($color-primary-dark, 0.9)
  );
  margin-right: 3rem;
  justify-content: center;
}
